#menu {
	padding-top: 10px;
}

#header {
	padding-bottom: 20px;
}

#header img {
	border-style: none;
}

#container {
	margin: auto;
	width: 900px;
}

.title {
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
	color: #24526D;
}

.chart_bottom {
	height: 10px;
	width: 100%;
	background-color: #8e8e8e;
	margin-bottom: 15px;
}

#flash-notice {

	font-size: 1.5em;
	text-align: center;
	margin: auto;
	background-color: #24526D;
	color: #ffffff;
	padding-bottom: 10px;
	padding-top: 10px;	
}

.clearfix {
	height: 20px;
	clear: both;
}
