<% form_for :dump, :url=>{:controller=>"stats", :action=>"import"}, :html => { :multipart => true } do |f| -%>
   <tr>
     <td>
      <label for="dump_file">
        Select UI Stats Log File :
      </label>
     </td>
     <td >
       <%= f.file_field :file -%>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' -%>
     </td>
   </tr>
<% end -%>
